Source: sonic-yang-utils
Maintainer: Dmitri Chirkov <chdmitry2@gmail.com>
Section: net
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 8.0.0),
               debhelper (>= 10~) | dh-systemd,

Package: sonic-yang-utils
Architecture: any
Priority: extra  
Depends: ${misc:Depends}
Description: A yang web application for SONiC.