[Unit]
Description=Delays management framework container until SONiC has started
PartOf=yang-utils.service

[Timer]
OnUnitActiveSec=0 sec
OnBootSec=1min 30 sec
Unit=yang-utils.service

[Install]
WantedBy=timers.target sonic.target sonic-delayed.target